body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: black;
  overflow-x: hidden;
}

.wrapper {
  padding-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main {
  margin: auto;
  width: 50%;
}

.container {
  margin: auto;
  /* height: 55%;
  width: 50%; */
  max-width: fit-content;
  max-height: fit-content;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3%;
}

.flex-cont {
  display: flex;
  padding: 5px;
  background-color: rgb(205, 255, 129);
  margin: 5px;
  border: darkgreen 1px solid;
  border-radius: 5%;
  height: auto;
}
.circle {
  border-radius: 50%;
  border: green solid 1px;
  height: 40px;
  width: 40px;
  /* padding: 30px; */
  margin: 10px;
  padding: 3px;
  background-color: rgb(209, 207, 207);
}

.indicator {
  display: flex;
  /* background-color: lightblue; */
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  padding-top: 4px;
  padding-left: 10px;
}

.ind-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: gray;
}

.correct {
  margin: auto;
  width: fit-content;
  height: min-content;
  padding-bottom: 30px;
}

.input {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: black 1px solid;
  padding: 5px;
  margin: 5px;
}

.input-panel {
  height: 10%;
  width: 94%;
  padding: 10px;
  /* margin: auto; */
  background-color: lightcyan;
  position: sticky;
  border: brown solid 1px;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
}

.score {
  background-color: lightcoral;
  color: black;
  border: black solid 1px;
  text-align: center;
  /* margin: 5px; */
  position: absolute;
  display: inline-block;
  width: 100vw;
  top: 30%;
  z-index: 2;
  overflow: hidden;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

/* SVG */

svg {
  height: inherit;
  width: inherit;
  position: inherit;
}

path {
  stroke: black;
}

.input-icons-wrapper {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  width: 75%;
  border-right: 1px solid black;
}

.confirm-cancel-wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  place-items: center;
  margin: auto;
  margin-right: 0px;
}
.playAgain {
  padding: 12px 28px;
  font: 0.7em sans-serif;
  border-radius: 5%;
  border: 1px solid rgb(44, 44, 44);
  text-align: center;
  transition-duration: 0.4s;
  margin-bottom: 10px;
  font-size: large;
}

.playAgain:hover {
  background-color: #1d011b; /* Green */
  color: white;
}

@media screen and (max-width: 600px) {
  .container {
    transform: scale(0.9);
  }
}
